## New York City Pluto Data Scrape

1. Creating master Pluto files by year for database
    Source: 
    https://www1.nyc.gov/site/planning/data-maps/open-data/bytes-archive.page?sorts[year]=0
    https://www1.nyc.gov/assets/planning/download/zip/data-maps/open-data/nyc_pluto_17v1.zip?r=1
    https://www1.nyc.gov/assets/planning/download/zip/data-maps/open-data/nyc_pluto_17v1_1.zip?r=1
    https://www1.nyc.gov/assets/planning/download/zip/data-maps/open-data/nyc_pluto_16v1.zip
    https://www1.nyc.gov/assets/planning/download/zip/data-maps/open-data/nyc_pluto_16v2.zip

2. Upload to Google Big Query

3. Geocode 311 data for BBL for each corresponding pluto file date
4. Add historical BBL to master complaints table
5. Run analysis on which areas have changed if any & when
6. See how this affects previous BIDs analysis

Notes:
- Tax lot is updated monthly and goes back as far as 2013 
- Pluto and MapPluto are updated bi-annually (January and June) and goes back as far as 2002

In [34]:
import requests
from openpyxl import load_workbook
import pandas as pd 
import os

### Links

In [8]:
#Annual Enrollment
#Source: http://schools.nyc.gov/Accountability/data/default.htm
AuditedRegister_20122016 = "http://schools.nyc.gov/NR/rdonlyres/46093164-D8AA-40DD-A400-8F80CEBC8DD5/0/DemographicSnapshot201112to201516Public_FINAL.xlsx"

In [14]:
dls = AuditedRegister_20122016
resp = requests.get(dls)
fileName = "AuditedRegister_20122016.xlsx"

output = open(fileName, 'wb')
output.write(resp.content)
output.close()

In [32]:
wb = load_workbook(fileName)
print wb.get_sheet_names()

[u'Citywide', u'Borough', u'District', u'School', u'Full Day Pre-K for All', u'NOTES']

In [47]:
path = "//52CCIFS00/Users$/floza/My Documents/OSFEP/Data Scrape/"
x1 = pd.ExcelFile(path + fileName)

In [48]:
AuditedRegister_20122016_Citywide = x1.parse("Citywide")

In [51]:
AuditedRegister_20122016_Borough = x1.parse("Borough")
AuditedRegister_20122016_District = x1.parse("District")
AuditedRegister_20122016_School = x1.parse("School")

In [52]:
AuditedRegister_20122016_School.head()

,DBN,School Name,Year,Total Enrollment,Grade PK (Half Day & Full Day),Grade K,Grade 1,Grade 2,Grade 3,Grade 4,...,# Other,% Other,# White,% White,# Students with Disabilities,% Students with Disabilities,# English Language Learners,% English Language Learners,# Poverty,% Poverty
0,01M015,P.S. 015 Roberto Clemente,2011-12,189,13,31,35,28,25,28,...,1,0.005291,4,0.021164,52,0.275132,22,0.116402,189,1.0
1,01M015,P.S. 015 Roberto Clemente,2012-13,177,18,38,26,22,26,23,...,3,0.016949,3,0.016949,55,0.310734,21,0.118644,177,1.0
2,01M015,P.S. 015 Roberto Clemente,2013-14,190,26,39,39,21,16,26,...,2,0.010526,3,0.015789,65,0.342105,19,0.100000,190,1.0
3,01M015,P.S. 015 Roberto Clemente,2014-15,183,18,27,47,31,19,17,...,1,0.005464,2,0.010929,64,0.349727,17,0.092896,183,1.0
4,01M015,P.S. 015 Roberto Clemente,2015-16,176,14,32,33,39,23,17,...,3,0.017045,2,0.011364,57,0.323864,16,0.090909,176,1.0

In [53]:
#http://intranet.nycboe.net/IT/contacts/SchoolInfo.htm
LCGMS = 'javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("doecontrol_topcentercontainer_schooldatadownload$LCGMSDataDownload1$btnDownload", "", true, "", "", false, true))'